[paths]
source =
    pyge
    */site-packages

[run]
branch = true
source =
    pyge
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
exclude_lines = 
    if __name__ == .__main__.:
